.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.inputBoxes {
    display: grid;
    grid-template-columns: 14% 29% 14% 29% 14%;


}

.textByBoxes{
    display: flex;
    height: 100%;
    width: 100%;
    
}