.container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    padding: 2% 2% 2% 2%;
}

.inputBoxes {
    display: grid;
    grid-template-columns: 43% 43% 14%;

}

.textByBoxes{
    display: flex;
    height: 100%;
    width: 100%;
    
}

body{
    font-family: isaiahFont;
}

h1{
    text-align: center;
}

.boxedInfo{
    border: 1px black solid;
}