@font-face {
  font-family: isaiahFont;
  src: url(/assets/IsaiahFont-Regular.otf);
}

.header_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr) 5fr;
  background-color: lightgrey;
}

.header_element {
  padding: 7% 0% 7% 0%;
  font-size: min(3.2vw, 2rem);
  font-family: isaiahFont;
  display: flex;
  justify-content: center;
}