@media (prefers-color-scheme: dark) {
  :root{
    --theme-color-0: #87431D;
    --theme-color-1: #643014;
    --theme-color-2: #DBCBBD;
    --theme-color-3: #C87941;
    --theme-color-4: #290001;
    --theme-softbg-0: #8e6345;
    --theme-bw-0: black;
    --theme-bw-1: white;
    --theme-gr-0: rgb(126, 126, 126);
    --theme-green-0: rgb(102, 188, 102);
    --theme-red-0: rgb(255, 110, 110);

    --theme-gr-0-0_7: rgba(126, 126, 126, 0.7);

    --theme-color-0-opp: #F2DEBA;
    --theme-color-1-opp: #FFEFD6;
    --theme-color-2-opp: #0E5E6F;
    --theme-color-3-opp: #3A8891;
    --theme-softbg-0-opp: #fdf3e3;
    --theme-bw-0-opp: white;
    --theme-bw-1-opp: black;
    --theme-gr-0-opp: rgb(216, 216, 216);
    --theme-green-0-opp: rgb(54, 169, 54);
    --theme-red-0-opp: rgb(255, 55, 55);

    --theme-gr-0-0_7-opp: rgba(216, 216, 216, 0.7);
  }
}

@media (prefers-color-scheme: light) {
  :root{
    --theme-color-0: #F2DEBA;
    --theme-color-1: #FFEFD6;
    --theme-color-2: #0E5E6F;
    --theme-color-3: #3A8891;
    --theme-softbg-0: #fdf3e3;
    --theme-bw-0: white;
    --theme-bw-1: black;
    --theme-gr-0: rgb(216, 216, 216);
    --theme-green-0: rgb(54, 169, 54);
    --theme-red-0: rgb(255, 55, 55);

    --theme-gr-0-0_7: rgba(216, 216, 216, 0.7);

    --theme-color-0-opp: #87431D;
    --theme-color-1-opp: #643014;
    --theme-color-2-opp: #DBCBBD;
    --theme-color-3-opp: #C87941;
    --theme-color-4-opp: #290001;
    --theme-softbg-0-opp: #8e6345;
    --theme-bw-0-opp: black;
    --theme-bw-1-opp: white;
    --theme-gr-0-opp: rgb(126, 126, 126);
    --theme-green-0-opp: rgb(102, 188, 102);
    --theme-red-0-opp: rgb(255, 110, 110);

    --theme-gr-0-0_7-opp: rgba(126, 126, 126, 0.7);
  }
}

:root{
  --header-scale: max(1.5vmin,10px);
}

@font-face {
  font-family: isaiahFont;
  src: url(/assets/font/isaiahFont-Regular.otf);
}

.header_container {
  position: absolute;
  top: calc(var(--header-scale)*-6);
  opacity: 0;
  left: calc(10% - var(--header-scale));
  display: flex;
  width: calc(90% - var(--header-scale)*1);
  background-color: var(--theme-color-0);
  border: calc(var(--header-scale)*0.25) solid var(--theme-color-2);
  border-radius: calc(var(--header-scale)*2);
  transition: top 0.5s, opacity 1s;
  height: calc(var(--header-scale)*3.5);
}

.header_element {
  font-size: calc(var(--header-scale)*2);
  font-family: isaiahFont;
  display: flex;
  height: 100%;
  width: calc(var(--header-scale)*7);
  align-items: center;
  justify-content: center;
  border-left: calc(var(--header-scale)*0.25) dashed var(--theme-color-2);
}

.header_element:first-of-type{
  border: 0;
}

.header_element a{
  color: var(--theme-color-2)
}

.header_full_container{
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  width: 100%;
  height: calc(var(--header-scale)*4);
  z-index: 10;
  margin: calc(var(--header-scale)*1);
}

.header_reveal_container{
  margin: 0 calc(5% - var(--header-scale)*3.5);
  height: 100%;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s;
}

.header_reveal_container:hover{
  opacity: 1;
}

.header_menu_line{
  width: 100%;
  height: calc(var(--header-scale)*.5);
  border-radius: calc(var(--header-scale)*.25);
  background-color: var(--theme-color-2);
  position: absolute;
  transition: top 0.5s, rotate 0.5s, opacity 0.25s;
  opacity: 0.3;
}

.header_menu_line1{
  top: calc(100% / 4 * 1 - 12.5% + var(--header-scale)*.25);
}

.header_menu_line2{
  top: calc(100% / 4 * 2 - 12.5% + var(--header-scale)*.25);
}

.header_menu_line3{
  top: calc(100% / 4 * 3 - 12.5% + var(--header-scale)*.25);
}

.header_reveal_button:hover{
  cursor: pointer;
}

.header_reveal_button:hover .header_menu_line{
  opacity: 1;
}

.header_reveal_button:hover .header_menu_line1:has(div){
  width: 100%;
  rotate: -45deg;
  top: calc(100% / 4 * 2 - 12.5% + var(--header-scale)*.25);
}

.header_reveal_button:hover .header_menu_line2:has(div){
  opacity: 0;
}

.header_reveal_button:hover .header_menu_line3:has(div){
  width: 100%;
  rotate: 45deg;
  top: calc(100% / 4 * 2 - 12.5% + var(--header-scale)*.25);
}

.header_menu_line:has(div){
  opacity: 1;
}

.header_reveal_button{
  width: 85%;
  height: 85%;
  position: relative;
}

body{
  margin-top: calc(var(--header-scale)*6);
}