body {
    background-color: #fdfd96;
    padding-top: 3%;
}

@font-face {
  font-family: isaiahFont;
  src: url(./assets/Isaiahfont-Regular.otf);
}

h1 {
    font-size: 60;
    font-family: isaiahFont;
    text-align: center;
}

div.item {
    /* To correctly align image, regardless of content height: */
    vertical-align: top;
    display: inline-block;
    /* To horizontally center images and caption */
    text-align: center;
    /* The width of the container also implies margin around the images. */
    width: 30%;
}

img {
    width: 100%;
    height: auto;
    align-content: center;
}

.caption {
    /* Make the caption a block so it occupies its own line. */
    display: block;
    font-size: 35;
    font-family: isaiahFont;
}

.container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3%;
    padding-left: 5%;
    padding-right: 5%
}

/* implement this: https://css-tricks.com/linearly-scale-font-size-with-css-clamp-based-on-the-viewport/  */