body {
    background-color: #e6d1f2;
    padding-top: 3%;
}

@font-face {
  font-family: isaiahFont;
  src: url(./assets/IsaiahFont-Regular.otf);
}

h1 {
    font-size: 4vw;
    font-family: isaiahFont;
    text-align: center;
}

div.item {
    /* To correctly align image, regardless of content height: */
    vertical-align: top;
    display: inline-block;
    /* To horizontally center images and caption */
    text-align: center;
    /* The width of the container also implies margin around the images. */
    width: 21%;
    padding-left: 2%;
    padding-right: 2%;
    position: relative;
}

img {
    width: 100%;
    height: auto;
    align-content: center;
}

.caption {
    /* Make the caption a block so it occupies its own line. */
    display: block;
    font-size: 2.5vw;
    font-family: isaiahFont;
}

.container {
    display: flex;
    justify-content: left;
    padding-bottom: 3%;
    padding-left: 5%;
    padding-right: 5%
}

.image-cropper {
    width: 5vw;
    height: 5vw;
    position: absolute;
    overflow: hidden;
    border-radius: 50%;
    top: 15vw;
    right: 0;
  }
  
.image-cropper img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

.image-cropper:hover{
    
}

/* implement this: https://css-tricks.com/linearly-scale-font-size-with-css-clamp-based-on-the-viewport/  */