@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');

body{
    background-color: #FFEFD6;
    font-size: 3vw;
    text-align: center;
    font-family: 'Source Serif Pro', serif;
}

h1{
    font-size: clamp(30px, 5vw, 60px);
    color: #0E5E6F;
}

.siteIcon{
    width: clamp(150px, 25vw, 300px);
    height: 100%;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    margin: 2vw;
}

a{
    text-decoration: none;
}

.siteIcon:hover{
    text-decoration: underline;
}

.iconIMG{
    width: inherit;
    height: inherit;
}

.caption{
    display: block;
    font-size: clamp(15px, 2.5vw, 30px);
    color:#0E5E6F;
}

.bottomMessage{
    color: #0E5E6F;
    font-size: clamp(10px, 1.5vw, 20px);
}