body{
    font-family: isaiahFont;
    background-color: var(--theme-softbg-0);
    color: var(--theme-bw-1);
}

h1{
    text-align: center;
}

.boardContainer{
  width: 100%;
  display: flex;
  justify-content: center;
}

.piece {
  position: relative;
  width: 90%;
  height: 90%;
  z-index: 1;
  text-align: center;
  cursor: move;
  /* border: 1px solid; */
}

img {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.pieceImg{
  width: 100%;
}

.cell{
  background-color: antiquewhite;
  /* TODO: scaling */
  width: 10vh;
  height: 10vh;
}

.cellRow{
  display: flex;
}

.blackCell{
  background-color: rgb(48, 48, 48);
}

.whiteCell{
  background-color: #f1f1f1;
}

.board{
  aspect-ratio: 1;
  width: fit-content;
  height: fit-content;
}

.blackPiece{
  /* background-color: black; */
  /* color: white; */
}

.whitePiece{
  /* background-color: #f1f1f1; */
  /* color: #7e7e7e; */
}