body {
    background-color: blanchedalmond;
}

.level {
    float:left;
    font-size: 50px;
    
}

.score {
    font-size: 50px;
    text-align:center;
}

.puzzle {
    font-size:  125px;
    text-align: center;
    
}

.juzb {
    padding-left: 30%
}

.child {
    text-align: center;
    width: 15%;
    float: left;
    font-size: 100px;
}

p {
    margin: 0;
    padding: 0;
}

.highScore {
    float: right;
    font-size: 50px;
}

.keyboard {
    padding-top: 5%;
}

.key {
    margin: 0;
    padding: 0;
    text-align: center;
    display: inline-block;
    width: 8%;
    height: auto;
    float: left;
    font-size: 40px;
}