body {
    background-color: blanchedalmond;
}

.level {
    float:left;
    font-size: 50px;
    
}

.score {
    font-size: 50px;
    text-align:center;
}

.puzzle {
    font-size:  125px;
    text-align: center;
    padding-top: 5%
    
}

.juzb {
    padding-left: 30%
}

.child {
    text-align: center;
    width: 15%;
    float: left;
    font-size: 100px;
}

p {
    margin: 0;
    padding: 0;
}

.highScore {
    float: right;
    font-size: 50px;
}

.keyboard1 {
    padding-top: 10%;
    padding-left: 6%;
    padding-right: 6%
}

.keyboard2 {
    padding-top: 5%;
    padding-left: 6%;
    padding-right: 6%;
}

.key {
    text-align: center;
    width: 16.6%;
    float: left;
    font-size: 65px;
}