body{
    font-family: isaiahFont;
    background-color: var(--theme-softbg-0);
    color: var(--theme-bw-1);
}

h1{
    text-align: center;
}

.row{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.credits{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(199, 199, 199);
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 4;
    cursor: pointer;
    flex-direction: column;
}

.credits div{
    margin: 10px;
}

.viewCredits{
    width: 100%;
    text-align: center;
}

.viewCredits:hover{
    
    text-decoration: underline;
    cursor: pointer;
}

.col{
    border: solid 1vw blue;
    border-radius: 100%;
    height: min(10vw, 90px);
    width: min(10vw, 90px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--theme-softbg-0);
    pointer-events: auto;
    
}

.hole{
    background-color: transparent;
    border-color: black;
    /* clip-path: ; */
}

.up1, .up2, .up3, .up4, .up5, .up6{
    left: calc(10%-3px);
    position: absolute;
}

.up1{ top: calc((-100% - 2vw) * 1 + 10px); }
.up2{ top: calc((-100% - 2vw) * 2 + 10px); }
.up3{ top: calc((-100% - 14px) * 3 + 10px); }
.up4{ top: calc((-100% - 2vw) * 4 + 10px); }
.up5{ top: calc((-100% - 2vw) * 5 + 10px); }
.up6{ top: calc((-100% - 2vw) * 6 + 10px); }

.inPlace{
    position: absolute;
    top:7px;
    display: flex;
}

.mainContainer{
    position: relative;
}

.main{
    position: relative;
    width: fit-content;
}

.gameBoardMask{
    pointer-events: none;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3;
}

.piece{
    width: 80%;
    height: 80%;
    border: solid 3px black;
    border-radius: 100%;
    position: relative;
    transition: top 1s cubic-bezier(0.42, 0, 1, 1);
}

img{
    position: relative;
}

.information{
    font-size: xx-large;
    text-align: center;
}

.main{
    display: block;
    margin: min(5vw,20px) auto;
    width: fit-content;
    background-color: blue;
    padding: 1.5%;
    border-radius: 5%;
}

.divider{
    width: min(630px, 80vw);
    border:2px dashed var(--theme-color-2);
    margin: 0 auto 10px;
}



.retry img{
    height: 25px;
}

.retry :hover{
    filter: drop-shadow(0 0 3.5px var(--theme-color-2))
}