:root{
    --site-scale-width: max(300px, min(100vw, 900px));
    --pss: calc(0.01 * var(--site-scale-width));
}

h1{
    color: var(--theme-bw-1);
    font-size: calc(var(--pss) * 7);
    margin: calc(var(--pss) * 2);
}

body{
    font-family: isaiahFont;
    background-color: var(--theme-softbg-0);
    text-align: center;
}

.siteContents{
    max-width: calc(var(--pss) * 100);
    background-color: var(--theme-color-0);
    margin: 0 auto;
    padding: calc(var(--pss) * 3);
    filter: drop-shadow(calc(var(--pss)*0.5) calc(var(--pss)*0.5) calc(var(--pss)*0.3) black);
    border: calc(var(--pss)*0.25) solid var(--theme-bw-1);
}

.mainContainer{
    display: grid;
    grid-template-rows: repeat(6, calc(var(--pss) * 12));
    max-width: calc(var(--pss) * 100);
    margin: 0 auto;
}

.tier{
    display: grid;
    grid-template-columns: calc(var(--pss) * 12) auto;
    margin: 5px 5px 5px 5px;
}

.tierTitle{
    display: flex;
    font-size: calc(var(--pss) * 8);
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

.tierItems{
    display:block;
    height: calc(var(--pss) * 12);
    width: calc(var(--pss) * 12);
    white-space: nowrap;
}

.tierItem{
    height: 100%;
}