body{
    font-family: isaiahFont;
    background-color: var(--theme-softbg-0);
    color: var(--theme-bw-1);
    height: 200vh;
}

h1{
    text-align: center;
}

.info1{
    height: 50%;
}

.dateContainer{
    width: 100%;
    background-color: aquamarine;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.currentDate{
    background-color: blue;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.paperContainer{
    position:absolute;
    top:65%;
    left: 0;
    width: 100%;
    height: 25%;
}

.paper{
    width: 5%;
    position: absolute;
}