body{
    font-family: isaiahFont;
    background-color: var(--theme-softbg-0);
    color: var(--theme-bw-1);
}

h1{
    text-align: center;
}

.gameRow {
    display: grid;
}

.cell{
    width: 20px;
    height: 20px;
    border: 1px solid black;
}

.gameContainer
{
    display: flex;
    justify-content: center;
}

.buttonContainer
{
    display: flex;
    justify-content: space-evenly;
    padding: 0 40%;
}



@media (prefers-color-scheme: dark) {
    .playButton{
        height: 30px;
        filter: invert();
    }
    .playContainer :hover{
        filter: invert() drop-shadow(0 0 3.5px var(--theme-color-2))
    }
}
  
@media (prefers-color-scheme: light) {
    .playButton{
        height: 30px;
        color: black;
    }
    .playContainer :hover{
        filter: drop-shadow(0 0 3.5px var(--theme-color-2))
    }
}




div.cell:hover{
    border: 1px solid white;
}