.titleText{
    text-align: center;
    font-size: 2rem;
}

.gameContainer{
    display: grid;
    grid-template-rows: auto 1fr 1fr;
}

.row1{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    height: fit-content;
}

.row2{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}

.cardStack{
    position: relative;
    width: 100%;
}

.card{
    width: 100%;
    position: absolute;
    left: 0%;
}