body{
    background-color: var(--theme-softbg-0);
}


.green{
    color: green;
}
.red{
    color: red;
}

.toMemorize{
    width: 800px;
    height: 400px;
}
.gameBoxes{
    text-align: center;
    width: 40%;
    height:400px;
}


