body {font-family: Verdana, serif;}
span.balance {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
span.incrementButton {
    font-size: 50px;
    position: relative;
    left: 100px;
}