body{
    font-family: isaiahFont;
}

@font-face {
  font-family: isaiahFont;
  src: url(../assets/IsaiahFont-Regular.otf);
}

.toptitle {
    text-align: center;
    font-size: 50px
}

.calendar{
    display: grid;
    grid-template-columns: [col-start] repeat(7, minmax(0,1fr));
    padding: 3% 5% 5% 5%
}

.item {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: azure;
    font-size: 1.35rem;
    height: 6.5rem;
    padding: 5% 5% 5% 5%
}

.dummy {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: azure;
    font-size: 1.35rem;
    height: 6.5rem;
    padding: 5% 5% 5% 5%;
    color: #777777;
}