.invcontainer{
    display: grid;
    aspect-ratio: 2.5;
    width: 85%;
    margin: 3% auto;
    grid-template-columns: 2.2fr 1fr;
    border-radius: calc(var(--pss)*4.5);
    border: calc(var(--pss)*0.35) solid black;
    padding: 3%;
}

.invtunnels{
    background-color: rgb(225, 225, 225);
    grid-template-columns: 1.8fr 1.5fr 1.8fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "invtun0 invtuni invtun1"
    "invtun2 invtuni invtun3";
    grid-gap: 3%;
}

.invtunnels div{
    font-size: calc(var(--pss)*2);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% 5%;
}

.invtunnel0{grid-area: invtun0;}
.invtunnel1{grid-area: invtun1;}
.invtunnel2{grid-area: invtun2;}
.invtunnel3{grid-area: invtun3;}

.invtunnelindicator{
    grid-area: invtuni;
    display: flex;
    flex-direction: column;
    border-left: calc(var(--pss)*0.35) solid black;
    border-right: calc(var(--pss)*0.35) solid black;
}

.invtunnelindicator img{
    width: 80%;
}

.invtunnel:hover{
    text-decoration: underline;
    cursor:pointer;
}

.invproperties{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    /* border-right: calc(var(--pss)*0.5) dashed rgb(6, 27, 132); */
}

.invproperty{
    font-size: calc(var(--pss)*2);
}

.invset1{
    background-color: rgb(228, 205, 157);
    border-color: rgb(78, 57, 10);
    color: rgb(78, 57, 10);
}

.invset2{
    background-color: rgb(180, 226, 255);
    border-color: rgb(6, 27, 132);
    color: rgb(6, 27, 132);
}

.invset3{
    background-color: rgb(255, 180, 233);
    border-color: rgb(121, 7, 104);
    color: rgb(121, 7, 104);
}

.invset4{
    background-color: rgb(255, 233, 180);
    border-color: rgb(150, 90, 0);
    color: rgb(150, 90, 0);
}

.invset5{
    background-color: rgb(255, 172, 170);
    border-color: rgb(121, 7, 7);
    color: rgb(121, 7, 7);
}

.invset6{
    background-color: rgb(255, 252, 170);
    border-color: rgb(105, 95, 0);
    color: rgb(105, 95, 0);
}

.invset7{
    background-color: rgb(219, 255, 180);
    border-color: rgb(3, 111, 5);
    color: rgb(3, 111, 5);
}

.invset8{
    background-color: rgb(139, 203, 243);
    border-color: rgb(0, 33, 197);
    color: rgb(0, 33, 197);
}

.invmortgaged{
    text-decoration: line-through;
}

div.invmortgaged:hover{
    text-decoration: line-through;
}

.invunowned{
    color: gray;
}

.invproperty:hover{
    text-decoration: underline;
    cursor:pointer;
}

.invbuyhouses{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.invbuyhousebutton:hover{
    cursor: pointer;
    filter: brightness(75%);
}

.invbuyhousebutton{
    transition: filter 0.2s;
    width: 60%;
}

.invutilities{
    display: grid;
    grid-template-columns: 1.8fr 0.9fr 1.8fr;
    text-align: center;
    align-items: center;
    font-size: calc(var(--pss)*2);
    background-color: rgb(225, 225, 225);
}
.invutilitydivider{
    width: 100%;
    border-left: calc(var(--pss)*0.35) solid black;
    border-right: calc(var(--pss)*0.35) solid black;
}

.invutility:hover{
    text-decoration: underline;
    cursor: pointer;
}