:root{
    --pss: max(min(.9vh, .9vw), 4px, min(.9vw, 1.1vh));
}

.body{
    font-family: isaiahFont;
    background-color: var(--theme-softbg-0);
    /* color: var(--theme-bw-1); */
    overflow: hidden;
    height: auto;
    cursor: default;
    margin-top: unset;
    user-select: none;
}

.siteContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    pointer-events: none;
}

img{
    user-drag: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

h1{
    text-align: center;
}

.gameBoard{
    width: calc(var(--pss)*80);
    height: calc(var(--pss)*80);
    background-color: white;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(11,1fr);
    min-height: 0;
    min-width: 0;
}

.tile{
    background-color: inherit;
    /* background-color: rgb(213, 255, 249); */
    outline: calc(var(--pss)*0.25) solid black;
    width: calc(var(--pss)*6.8);
    height: calc(var(--pss)*9.4);
    min-width: 0;
    min-height: 0;
    font-size: calc(var(--pss)*1.2);
    text-align: center;
    position: relative;
}

.location{
    margin: 2% 5%;
}

.corner{
    height: calc(var(--pss)*9.4);
    width: calc(var(--pss)*9.4);
    font-size: calc(var(--pss)*2.5);
    z-index: 2;
}

.colorOfSet{
    height: calc(var(--pss)*2.32);
    width: calc(var(--pss)*6.8);
    background-color: pink;
    border-bottom: calc(var(--pss)*0.25) solid black;
    transition: filter 0.2s;
}

.colorOfSet:hover{
    filter:brightness(75%);
}

.railroadName, .utilityName{
    transition: background-color 0.2s;
    padding: calc(var(--pss)*0.2) 0;
}

.railroadName:hover, .utilityName:hover{
    background-color: rgb(181, 181, 181);
}

.tileInfo{
    height: calc(var(--pss)*6.88);
    position: relative;
    /* background-color: black; */
    /* opacity: 0.3; */
}

.sideways{
    justify-self: center;
    align-self: center;
}

.left {
    rotate: 90deg;
}

.right{
    rotate: 270deg;
}

.price{
    position: absolute;
    bottom: 0;
    margin-bottom: calc(var(--pss)*0.30);
    width: 100%;
}

/* .spaceWithImg{
    display: flex;
    justify-content: center;
    align-items: center;
} */

.spaceWithImg img{
    width: 100%;
    height: 100%;
}

/* .railroad{} */

.railroad.price{
    margin-bottom: calc(var(--pss)*0.2);
}

.tileImg{
    width: 50%;
}

.cornerImg{
    width: 100%;
}

.set1{background-color: saddlebrown;}
.set2{background-color: lightblue;}
.set3{background-color: magenta;}
.set4{background-color: orange;}
.set5{background-color: red;}
.set6{background-color: yellow;}
.set7{background-color: lime;}
.set8{background-color: blue;}
.set9{background-color: black;}

.top{
    rotate: 180deg;
}

.em{
    align-self: center;
    justify-self: center;
    font-size: calc(var(--pss)*4);
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.em img{
    width: 100%;
    height: 100%;
}

.cardPile{
    position: absolute;
    width: calc(var(--pss)*15);
    aspect-ratio: 1.5;
    /* background-color: black; */
}

.chancePile{
    top: 19%;
    left: 16%;
    rotate: -45deg;
}

div.chanceButton{
    width: 15vh;
    height: unset;
}

.chestPile{
    bottom: 19%;
    right: 16%;
    rotate: 135deg;
}

.chanceStackCard{
    position: absolute;
    background-color: rgb(253, 248, 231);
    
}

.chanceStackCard, .die, .gameBoard, .money, .player{
    filter: drop-shadow(0 0 calc(var(--pss)*.25) #000000);
}

.gameContainer{
    display: none;
    grid-template-columns: 3fr 1fr;
    width: fit-content;
    height: calc(var(--pss)*81);
    margin: calc(var(--pss)*4) auto;
    pointer-events: auto;
}

.possessions{
    height: calc(var(--pss)*81);
    width: calc(var(--pss)*80/3);
    /* background-color: white; */
    justify-self: left;
    margin-left: 2%;
}

.gameBoard {
    margin: 0 auto;
    display: grid;
    height: calc(var(--pss)*80);
    width: calc(var(--pss)*80);
    position: relative;
    background-color: rgb(248, 253, 255);
    /* grid-template-columns: calc(var(--pss)*9.4) calc(var(--pss)*6.8) calc(var(--pss)*6.8) calc(var(--pss)*6.8) calc(var(--pss)*6.8) calc(var(--pss)*6.8) calc(var(--pss)*6.8) calc(var(--pss)*6.8) calc(var(--pss)*6.8) calc(var(--pss)*6.8) calc(var(--pss)*9.4); */
    grid-template-columns: 11.75% 8.5% 8.5% 8.5% 8.5% 8.5% 8.5% 8.5% 8.5% 8.5% 11.75%;
    /* grid-template-rows: calc(var(--pss)*9.4) calc(var(--pss)*6.8) calc(var(--pss)*6.8) calc(var(--pss)*6.8) calc(var(--pss)*6.8) calc(var(--pss)*6.8) calc(var(--pss)*6.8) calc(var(--pss)*6.8) calc(var(--pss)*6.8) calc(var(--pss)*6.8) calc(var(--pss)*9.4); */
    grid-template-rows: 11.75% 8.5% 8.5% 8.5% 8.5% 8.5% 8.5% 8.5% 8.5% 8.5% 11.75%;
    /* gap: 0px 0px; */
    min-height: 0;
    min-width: 0;
    overflow: hidden;
    grid-auto-flow: row;
    border: calc(var(--pss)*0.5) solid black;
    grid-template-areas:
        "c2 t0 t1 t2 t3 t4 t5 t6 t7 t8 c3"
        "l8 em em em em em em em em em r0"
        "l7 em em em em em em em em em r1"
        "l6 em em em em em em em em em r2"
        "l5 em em em em em em em em em r3"
        "l4 em em em em em em em em em r4"
        "l3 em em em em em em em em em r5"
        "l2 em em em em em em em em em r6"
        "l1 em em em em em em em em em r7"
        "l0 em em em em em em em em em r8"
        "c1 b8 b7 b6 b5 b4 b3 b2 b1 b0 c0";
}

.dice{
    position: relative;
    left: calc(var(--pss)*29);
    top: calc(var(--pss)*-47);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    aspect-ratio: 1;
    width: calc(var(--pss)*8);
    gap: calc(var(--pss)*2.5);
    font-size: calc(var(--pss)*1.5);
    
}

.die{
    background-color: beige;
    height: 100%;
    width: 100%;
    border: calc(var(--pss)*.2) solid black;
    border-radius: calc(var(--pss)*.4);
    text-align: center;
    opacity: 0;
    /* box-shadow:0 0 calc(var(--pss)*.3) black; */
}

.playerIndicator{
    width: 100%;
    text-align: center;
    margin: calc(var(--pss)*1.5) 0;
    font-size: calc(var(--pss)*3.3);
}

.moneyContainer{
    display: flex;
    justify-content: space-between;
}

.money{
    width: calc(var(--pss)*12);
    margin: 5% auto;
}

.moneyCount{
    margin: auto;
    text-align: center;
    font-size: calc(var(--pss)*2);
}

.ownedProperties{
    height: 70%;
    overflow-y: scroll;
    padding: 0 0 5% 0;
}

.cardRow{
    width: calc(var(--pss)*80/3);
    display: flex;
    margin-top: 3%;
}

.auctionOverlay{
    display: flex;
    justify-content: center;
    width: fit-content;
    align-items: center;
}

.auctionContainer{
    display: flex;
    flex-direction: column;
}

.auctionContainer div{
    margin: 0.1vh;
}

.auctionImage{
    height: 45vh;
}

.auctionImageContainer{
    width: fit-content;
    margin-right: 2vh;
}

.playerAuction{
    display: flex;
}

.auctionName{
    background-color: white;
    width: 16vh;
    height: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: .3vh black solid;
    border-radius: 2vh;
    text-align: center;
    padding: .4vh;
    font-size: 3.5vh;
}

.currentHighestBidder{
    background-color: white;
    width: 50vh;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: .3vh black solid;
    border-radius: 2vh;
    text-align: center;
    padding: .4vh;
    font-size: 4vh;
    margin: 0 auto;
}

.endAuctionContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 3.4vh;
}

.auctionNormalPrice{
    background-color: white;
    font-size: 3vh;
    text-align: center;
    padding: 1vh;
    border-radius: 1.5vh;
    border: 0.3vh solid black;
}

div.auctionPrice{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: .3vh black solid;
    border-radius: 2vh;
    text-align: center;
    padding: .4vh;
    font-size: 3.5vh;
    width: 10vh;
}

.cannotAffordAuctionPrice{
    background-color: lightgray;
    width: 10vh;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: .3vh darkgray dashed;
    border-radius: 2vh;
    text-align: center;
    padding: .4vh;
    font-size: 3.5vh;
}

.propertyCard{
    background-color: rgb(246, 246, 246);
    width: 30%;
    min-width: 30%;
    margin: 0 auto;
    aspect-ratio: 2/3;
    box-shadow:calc(var(--pss)*.2) calc(var(--pss)*.2) calc(var(--pss)*.2) black;
    position: relative;

    /* inside of card */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 2;
}

.mortgagedCard{
    font-size: calc(var(--pss)*1.5);
}

.mortgageButton{
    margin-top: 1.5vh;
    font-size: 3vh;
}

#alertButton{
    margin-top: 1.5vh;
}

.getOutOfJail{
    background-color: rgb(246, 246, 246);
    width: 45%;
    min-width: 45%;

    box-shadow:calc(var(--pss)*.2) calc(var(--pss)*.2) calc(var(--pss)*.2) black;
    margin: 0 auto;
}

.getOutOfJail:hover{
    cursor:pointer;
}

.colorOfSet{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.house, .hotel{
    outline: calc(var(--pss)*.2) solid black;
}

.house{
    background-color: rgb(47, 158, 47);
    width: 18%;
    height: 70%;
    display: none;
    outline-color: green;
}
.hotel{
    display: none;
    position: relative;
    width: 50%;
    height: 70%;
    outline-color: rgb(253, 86, 86);
    background-color: red;
    z-index: 3;
}

.players{
    position:absolute;
    bottom: 13%;
    width: calc(var(--pss)*6.7);
    aspect-ratio: 1;
    left: 2.5%;
    z-index: 3;
    display: grid;
    gap: calc(var(--pss)*0.2);
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "p0 p1 p2"
        "p3 p4 p5"
        "p6 p7 p8";
    pointer-events: none;
}

div.jailplayers{
    position: absolute;
    width: 100%;
    aspect-ratio: 1;
    margin: 0;
    bottom: 0;
    right: 0;
    display: grid;
    gap: calc(var(--pss)*0.1);
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "p0 jl jl jl jl"
        "p1 jl jl jl jl"
        "p2 jl jl jl jl"
        "p3 jl jl jl jl"
        "p4 p5 p6 p7 p8";
}

.jailcell{
    margin: 4%;
    gap: calc(var(--pss)*0.3);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        "p0 p1 p2"
        "p3 p4 p5"
        "p6 p7 p8";
}

.p0{ grid-area: p0;}
.p1{ grid-area: p1;}
.p2{ grid-area: p2;}
.p3{ grid-area: p3;}
.p4{ grid-area: p4;}
.p5{ grid-area: p5;}
.p6{ grid-area: p6;}
.p7{ grid-area: p7;}
.p8{ grid-area: p8;}
.jailcell{grid-area: jl;}

.corner .players{
    left: 12%;
}

.player{
    width: 100%;
    height: 100%;
    /* display: flex; */
    display: none;
    justify-content: center;
    align-items: center;
    pointer-events: auto;
}

.playerToken{
    min-width: 90%;
    min-height: 90%;
    aspect-ratio: 1;
    border-radius: 50%;
    border: calc(var(--pss) * 0.15) black solid;
    transition: filter 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
    font-size: calc(var(--pss) * 1.5);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.playerToken:hover{
    filter: drop-shadow(0 0 calc(var(--pss) * 0.45) #2727ff);
    cursor: pointer;
    /* box-shadow:calc(var(--pss)*.2) calc(var(--pss)*.2) calc(var(--pss)*.2) black; */
}

.fillerCard{
    width: 30%;
    min-width: 30%;
    margin: 0 auto;
    aspect-ratio: 2/3;
}

.propertyCard:hover{
    cursor: pointer;
}

/* keep in mind that game board can be rotated for ease of viewing */
.gameBoard{
    /* rotate: 90deg; */
}

.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .4);
    z-index: 4;
    
    justify-content: center;
    align-items: center;
    display: none;

    flex-wrap: wrap;
    flex-direction: column;
    display: none;
}

.playerOverlay{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#hidePlayerPossessions{
    margin: calc(var(--pss)*1) auto;
    width: calc(var(--pss)*16);
    height: calc(var(--pss)*5);
    font-size: calc(var(--pss)*3);
}

#playerPossessions{
    padding: calc(var(--pss)*2);
    height: unset;
    max-height: calc(var(--pss)*60);
    background-color: white;
    border: calc(var(--pss)*0.3) black solid;
    border-radius: calc(var(--pss)*2);
}

.cardOverlay{
    min-width: 100%;
}

.cardOverlayContainer{
    display: none;
    width: 40vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.chanceOverlay{
    background-color: white;
    display: none;
    justify-content: center;
    align-items: center;
    width: 60vh;
    aspect-ratio: 1.5;
    position: relative;
}

.chanceOverlayImage{
    background-color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.chanceInfo{
    position: absolute;
    justify-content: center;
    position: relative;
    width: 91%;
    height: 70%;
    top: 7.2%;
    left: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "chn1 chn2";
    /* padding: 2.5vh; */
}

.chanceDesc, .chanceInfoImg{
    width: 70%;
    height: 100%;
    margin-left: 10%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.chanceDesc{
    font-size: 2vh;
    font-family: sans-serif;
}

.chanceInfoImg img{
    width: 100%;
}

.chanceOverlay img{
    height: 100%;
}

.chanceInfoImg{
    margin: 0;
    width: 100%;
}

.purchaseOverlay{
    width: 40vh;
    font-size: 3vh;
    display: none;
    justify-content: space-evenly;
    margin: 1vh;
}

.rentOverlay, .taxOverlay, .ownershipInfo{
    background-color: white;
    width: 36vh;
    aspect-ratio: 2;
    display: none;
    justify-content: center;
    align-items: center;
    border: .3vh black solid;
    border-radius: 2vh;
    text-align: center;
    padding: 2vh;
    font-size: 3.5vh;
}

#playerPossessions{
    
}

.playerPossessions .ownedProperties{
    min-height: 0;
    height: fit-content;
    max-height: 60%;
}

.ownershipInfo{
    aspect-ratio: unset;
    width: 28vh;
    margin-top: 1.2vh;
}

.customButton div{
    min-width: 100%;
}

.customButton{
    width: 16vh;
    height: 8vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 0.4vh;
    border: .3vh black solid;
    border-radius: 2vh;
    transition:  background-color .2s;
    cursor: pointer;
}

.customButton:hover{
    background-color: aqua;
}

.buttonClickable:hover{
    cursor: pointer;
}

#alertButton{
    font-size: 3.5vh;
}

.actionButtons{
    display: flex;
    justify-content: space-evenly;
    margin-top: calc(var(--pss)*1.5);
    font-size: calc(var(--pss)*3.5);
    height: calc(var(--pss)*5);
}

.nextAction{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nextAction:hover{
    cursor: pointer;
}

.actionButtons div{
    border: calc(var(--pss)*0.3) black solid;
    border-radius: calc(var(--pss)*2);
    width: 90%;
    background-color: white;
    text-align: center;
    transition: background-color .2s;
}

.actionButtons div:hover{
    background-color: aqua;
    cursor: pointer;
}

  
.c0 { grid-area: c0; }
.t0 { grid-area: t0; }
.t1 { grid-area: t1; }
.t2 { grid-area: t2; }
.t3 { grid-area: t3; }
.t4 { grid-area: t4; }
.t5 { grid-area: t5; }
.t6 { grid-area: t6; }
.t7 { grid-area: t7; }
.t8 { grid-area: t8; }
.c1 { grid-area: c1; }
.em { grid-area: em; }
.l0 { grid-area: l0; }
.l1 { grid-area: l1; }
.l2 { grid-area: l2; }
.l3 { grid-area: l3; }
.l4 { grid-area: l4; }
.l5 { grid-area: l5; }
.l6 { grid-area: l6; }
.l7 { grid-area: l7; }
.l8 { grid-area: l8; }
.r0 { grid-area: r0; }
.r1 { grid-area: r1; }
.r2 { grid-area: r2; }
.r3 { grid-area: r3; }
.r4 { grid-area: r4; }
.r5 { grid-area: r5; }
.r6 { grid-area: r6; }
.r7 { grid-area: r7; }
.r8 { grid-area: r8; }
.c2 { grid-area: c2; }
.c3 { grid-area: c3; }
.b0 { grid-area: b0; }
.b1 { grid-area: b1; }
.b2 { grid-area: b2; }
.b3 { grid-area: b3; }
.b4 { grid-area: b4; }
.b5 { grid-area: b5; }
.b6 { grid-area: b6; }
.b7 { grid-area: b7; }
.b8 { grid-area: b8; }

.windowSizeWarning{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: gray;
    display: none;
    top: 0;
    left: 0;
    flex-direction: column;
    overflow-y: scroll;
    z-index: 11;
}

.aspectRatioWarning{
    display: none;
}

.minimumResolutionWarning{
    display: none;
}

.windowWarning{
    min-height: 15vmax;
    margin: 1vmax;
    align-items: center;
    font-size: 5vmax;
    border: 1vmax solid black;
    padding: 1vmax;
}

.windowWarningIcon{
    height: 10vmax;
    margin-right: 2vmax;
}